Meta
doc
# C++ compiled files
*.o
*.so
*.dll

# temporary fi;es
Rplots.pdf
inst/scripts/*.Rout

# R profile files
*.Rproj.user
*.Rhistory
.Rproj.user

# log files
gurobi.log
test.log
check.log
spell.log
gp.log
examples.log
aoh-data.Rout
preprocess-habitat-data.Rout
preprocess-elevation-data.Rout
preprocess-world-behrmann-100m.Rout
aoh-data-amphibians.Rout
aoh-data-birds.Rout
aoh-data-mammals.Rout
aoh-data-reptiles.Rout

# system files
.directory

# do not ignore the following files
!.gitkeep
!*/
!inst/doc/*.html
!inst/doc/*.Rmd
!inst/doc/.gitkeep

# devtools files
doc/*
Meta/*
.build.timestamp
/doc/
/Meta/
