Meta
doc
# C++ compiled files
*.o
*.so
*.dll

# temporary fi;es
Rplots.pdf
inst/scripts/*.Rout

# R profile files
*.Rproj.user
*.Rhistory
.Rproj.user

# log files
gurobi.log
test.log
check.log
spell.log
gp.log
examples.log
aoh-data.Rout
jung-habitat-data.Rout
lumbierres-habitat-data.Rout
preprocess-elevation-data.Rout
builtin-data.Rout
aoh-data-amphibians.Rout
aoh-data-birds.Rout
aoh-data-birds-part-1.Rout
aoh-data-birds-part-2.Rout
aoh-data-birds-part-3.Rout
aoh-data-birds-part-4.Rout
aoh-data-birds-part-5.Rout
aoh-data-birds-part-6.Rout
aoh-data-mammals.Rout
aoh-data-reptiles.Rout
frc-data-amphibians.Rout
frc-data-birds.Rout
frc-data-birds-part-1.Rout
frc-data-birds-part-2.Rout
frc-data-birds-part-3.Rout
frc-data-birds-part-4.Rout
frc-data-birds-part-5.Rout
frc-data-birds-part-6.Rout
frc-data-mammals.Rout
frc-data-reptiles.Rout

# system files
.directory

# do not ignore the following files
!.gitkeep
!*/
!inst/doc/*.html
!inst/doc/*.Rmd
!inst/doc/.gitkeep

# devtools files
doc/*
Meta/*
.build.timestamp
/doc/
/Meta/
