http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/version?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"14-G84fcMg8DptYhQMf48pyDg"
    body:
      encoding: ''
      file: no
      string: '{"version":"2022-2"}'
  recorded_at: 2022-12-22 00:26:36 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/region/list?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"22c-2xpGjUp4vDLOtZDdLXIrrA"
    body:
      encoding: ''
      file: no
      string: '{"count":10,"results":[{"name":"Northeastern Africa","identifier":"northeastern_africa"},{"name":"Eastern
        Africa","identifier":"eastern_africa"},{"name":"Global","identifier":"global"},{"name":"Western
        Africa","identifier":"western_africa"},{"name":"Northern Africa","identifier":"northern_africa"},{"name":"Central
        Africa","identifier":"central_africa"},{"name":"Pan-Africa","identifier":"pan-africa"},{"name":"Southern
        Africa","identifier":"southern_africa"},{"name":"Mediterranean","identifier":"mediterranean"},{"name":"Europe","identifier":"europe"}]}'
  recorded_at: 2022-12-22 00:26:36 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/id/979?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"2ed-5gMs0DPptLRvNc0VrP4p2g"
    body:
      encoding: ''
      file: no
      string: '{"name":"979","result":[{"taxonid":979,"scientific_name":"Alytes dickhilleni","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"AMPHIBIA","order":"ANURA","family":"ALYTIDAE","genus":"Alytes","main_common_name":"Betic
        Midwife Toad","authority":"Arntzen &amp; García-París, 1995","published_year":2022,"assessment_date":"2019-11-21","category":"EN","criteria":"A2ace","population_trend":"Decreasing","marine_system":false,"freshwater_system":true,"terrestrial_system":true,"assessor":"IUCN
        SSC Amphibian Specialist Group","reviewer":"Chanson, J.S.","aoo_km2":null,"eoo_km2":"36748","elevation_upper":2510,"elevation_lower":700,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2022-12-22 00:26:36 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/habitats/species/id/979?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"36f-gNr5sr+ZzWaQyqRup9v8Xg"
    body:
      encoding: ''
      file: no
      string: '{"id":"979","result":[{"code":"1.4","habitat":"Forest - Temperate","suitability":"Suitable","season":"Resident","majorimportance":"Yes"},{"code":"14.2","habitat":"Artificial/Terrestrial
        - Pastureland","suitability":"Marginal","season":"Resident","majorimportance":null},{"code":"15.2","habitat":"Artificial/Aquatic
        - Ponds (below 8ha)","suitability":"Suitable","season":"Resident","majorimportance":"Yes"},{"code":"15.3","habitat":"Artificial/Aquatic
        - Aquaculture Ponds","suitability":"Suitable","season":"Resident","majorimportance":"Yes"},{"code":"5.7","habitat":"Wetlands
        (inland) - Permanent Freshwater Marshes/Pools (under 8ha)","suitability":"Marginal","season":"Resident","majorimportance":null},{"code":"5.8","habitat":"Wetlands
        (inland) - Seasonal/Intermittent Freshwater Marshes/Pools (under 8ha)","suitability":"Marginal","season":"Resident","majorimportance":null}]}'
  recorded_at: 2022-12-22 00:26:36 GMT
  recorded_with: vcr/1.2.0, webmockr/0.8.2
[...]
