http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/region/list?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"22c-BCVu0OnWlcKqpIpHDySfMA"
    body:
      encoding: UTF-8
      file: no
      string: '{"count":10,"results":[{"name":"Eastern Africa","identifier":"eastern_africa"},{"name":"Northeastern
        Africa","identifier":"northeastern_africa"},{"name":"Global","identifier":"global"},{"name":"Western
        Africa","identifier":"western_africa"},{"name":"Northern Africa","identifier":"northern_africa"},{"name":"Central
        Africa","identifier":"central_africa"},{"name":"Pan-Africa","identifier":"pan-africa"},{"name":"Southern
        Africa","identifier":"southern_africa"},{"name":"Mediterranean","identifier":"mediterranean"},{"name":"Europe","identifier":"europe"}]}'
  recorded_at: 2022-08-11 18:14:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/version?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"14-uyTgolGzHBSdJyCMB1FBYA"
    body:
      encoding: UTF-8
      file: no
      string: '{"version":"2022-1"}'
  recorded_at: 2022-08-11 18:14:51 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
