http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/population_trends/?page=1
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IUCN_REDLIST_KEY>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"62c2d61b9f847367d2c75a1261e5ee06"
    body:
      encoding: ''
      file: no
      string: '{"population_trends":[{"description":{"en":"Increasing"},"code":"0"},{"description":{"en":"Decreasing"},"code":"1"},{"description":{"en":"Stable"},"code":"2"},{"description":{"en":"Unknown"},"code":"3"}]}'
  recorded_at: 2025-04-18 01:44:50 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/information/red_list_version
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IUCN_REDLIST_KEY>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"1694e95e54c5590a355e5922b47c7cd9"
    body:
      encoding: ''
      file: no
      string: '{"red_list_version":"2025-1"}'
  recorded_at: 2025-04-18 01:44:50 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/sis/979
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IUCN_REDLIST_KEY>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"82ece36af09de12fcb73fbd7e4bc448b"
    body:
      encoding: ''
      file: no
      string: '{"sis_id":979,"taxon":{"sis_id":979,"scientific_name":"Alytes dickhilleni","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[],"kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"AMPHIBIA","order_name":"ANURA","family_name":"ALYTIDAE","genus_name":"Alytes","species_name":"dickhilleni","subpopulation_name":null,"infra_name":null,"authority":"Arntzen
        \u0026amp; García-París, 1995","species":true,"subpopulation":false,"infrarank":false,"ssc_groups":[{"name":"IUCN
        SSC Amphibian Specialist Group","url":"https://www.iucn-amphibians.org/","description":"Chair:
        Ariadne Angulo (email: aangulo@amphibians.org)\nRed List Authority Coordinator:
        Jennifer Luedtke (email: jluedtke@amphibians.org)\nNewsletter: http://www.amphibians.org/froglog/"}],"common_names":[{"main":false,"name":"Sapo
        Partero Bético","language":"spa"},{"main":true,"name":"Betic Midwife Toad","language":"eng"}],"synonyms":[]},"assessments":[{"year_published":"2024","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":979,"url":"https://www.iucnredlist.org/species/979/228179357","assessment_id":228179357,"scopes":[{"description":{"en":"Global"},"code":"1"},{"description":{"en":"Europe"},"code":"2"},{"description":{"en":"Mediterranean"},"code":"4"}]},{"year_published":"2022","latest":false,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":979,"url":"https://www.iucnredlist.org/species/979/267244574","assessment_id":267244574,"scopes":[{"description":{"en":"Global"},"code":"1"},{"description":{"en":"Europe"},"code":"2"},{"description":{"en":"Mediterranean"},"code":"4"}]},{"year_p[...]
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/assessment/228179357
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IUCN_REDLIST_KEY>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"f0f0765d28a3d458e293e96dc940824d"
    body:
      encoding: ''
      file: no
      string: '{"assessment_date":"2023-02-20T00:00:00.000Z","year_published":"2024","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":979,"criteria":"A2ace","url":"https://www.iucnredlist.org/species/979/228179357","citation":"Salvador,
        A., Díaz-Paniagua, C., Recuero Gil, E., Martínez-Solano, I., Bosch, J., Arntzen,
        J., García París, M., Lizana, M., Tejedo, M. \u0026 Márquez, R. 2024. Alytes
        dickhilleni. The IUCN Red List of Threatened Species 2024: e.T979A228179357.
        https://dx.doi.org/10.2305/IUCN.UK.2024-2.RLTS.T979A228179357.en. Accessed
        on 18 April 2025.","assessment_id":228179357,"assessment_points":false,"assessment_ranges":true,"taxon":{"sis_id":979,"scientific_name":"Alytes
        dickhilleni","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[],"kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"AMPHIBIA","order_name":"ANURA","family_name":"ALYTIDAE","genus_name":"Alytes","species_name":"dickhilleni","subpopulation_name":null,"infra_name":null,"authority":"Arntzen
        \u0026amp; García-París, 1995","species":true,"subpopulation":false,"infrarank":false,"ssc_groups":[{"name":"IUCN
        SSC Amphibian Specialist Group","url":"https://www.iucn-amphibians.org/","description":"Chair:
        Ariadne Angulo (email: aangulo@amphibians.org)\nRed List Authority Coordinator:
        Jennifer Luedtke (email: jluedtke@amphibians.org)\nNewsletter: http://www.amphibians.org/froglog/"}],"common_names":[{"main":false,"name":"Sapo
        Partero Bético","language":"spa"},{"main":true,"name":"Betic Midwife Toad","language":"eng"}],"synonyms":[]},"population_trend":{"description":{"en":"Decreasing"},"code":"1"},"red_list_category":{"version":"3.1","description":{"en":"Endangered"},"code":"EN"},"supplementary_info":{"upper_elevation_limit":2510,"lower_elevation_limit":700,"lower_depth_limit":null,"upper_depth_limit":null,"population_size":null,"population_severely_fragmented":"No","population_continuing_decline":null,"generational_length":"7","congregatory":null,"movement_patterns":"Not
        a Migrant","continuing_decline_in_area":"Yes","conservation_actions_in_place":[{"name":"In-place
        land/water protection","actions":[{"name":"Occurs in at least one protected
        area","value":"Yes"},{"name":"Invasive species control or prevention","value":"Yes"}]},{"name":"In-place
        species management","actions":[{"name":"Subject to ex-situ conservation","value":"Yes"}]},{"name":"In-place
        education","actions":[{"name":"Subject to recent education and awareness programmes","value":"Yes"},{"name":"Included
        in international legislation","value":"Yes"}]}],"identification_information":null,"extreme_fluctuations":null,"no_of_subpopulations":null,"continuing_decline_in_subpopulations":null,"extreme_fluctuations_in_subpopulations":null,"all_individuals_in_one_subpopulation":null,"no_of_individuals_in_largest_subpopulation":null,"estimated_area_of_occupancy":null,"continuing_decline_in_area_of_occupancy":null,"extreme_fluctuations_in_area_of_occupancy":null,"estimated_extent_of_occurence":"36748","continuing_decline_in_extent_of_occurence":"Unknown","extreme_fluctuations_in_extent_of_occurence":"No","continuing_decline_in_number_of_locations":null,"extreme_fluctuations_in_number_of_locations":null},"documentation":{"range":"This
        species is restricted to the mountains of southeastern Spain. It occurs between
        700–2,510 m asl (Sierra Nevada, Almería). Its extent of occurrence (EOO) is
        36,748 km\u003csup\u003e2\u003c/sup\u003e.","population":"Subpopulations of
        this species are very fragmented, many of them confined to isolated mountains
        and valleys. It is relatively common in the Alcaraz, Segura, and Cazorla mountains,
        but it is rare in drier mountains (Filabres, Baza, Gádor), where it is associated
        with springs. Subpopulations in drier areas can consist of only a few adults.
        In the last 10 years,\u003cstrong\u003e \u003c/strong\u003eseveral subpopulations
        have declined which is very likely due to chytridiomycosis (J. Bosch pers.
        comm. November 2019). Declines have been observed in over 109 breeding localities
        across the entire area of distribution (per province: Almería 52, Granada
        33, Jaén 17, Málaga 7), which were visited in both 2010 and 2020 (J. Bosch
        and E. González-Miras pers. comm. May 2021). It is estimated that in this
        time period that 63.8% of the population has declined, and it is thought that
        chytridiomycosis has impacted the most susceptible subpopulations (J. Bosch
        pers. comm. July 2021). While this species can breed in some anthropogenic
        habitats, due to ongoing decline in the quality and extent of its habitat,
        the population is inferred to be decreasing.","habitats":"The species is present
        in pine and oak forests, most often on calciferous substrate, in open, very
        rocky landscapes. Adults occur in rock fissures and on stones next to water
        sources. Reproduction and larval development takes place in permanent mountain
        streams, man-made reservoirs and cattle troughs, and the larvae may take a
        long time to mature. Almost all known breeding habitats are human-modified
        water bodies.\u003cbr/\u003e\u003cbr/\u003eBased on its congener \u003cem\u003eAlytes
        obstetricans\u003c/em\u003e, which occurs in similar habitats, the generation
        length for this species is estimated to be seven years.","threats":"The species
        is threatened by loss of suitable breeding habitat as a result of excessive
        water withdrawal, droughts, and modernisation of agricultural practices leading
        to the abandonment of cattle troughs and other man-made water sources. Subpopulations
        are highly fragmented, with low levels of gene flow (Dias \u003cem\u003eet
        al.\u003c/em\u003e 2015). This species is highly susceptible to the disease
        chytridiomycosis (Bosch \u003cem\u003eet al\u0[...]
{"scope":null,"timing":"Ongoing","internationalTrade":null,"score":"Low
        Impact: 3","severity":null,"ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Droughts"},"code":"11_2"},[...]
{"scope":null,"timing":"Ongoing","internationalTrade":null,"score":"Low
        Impact: 3","severity":null,"ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Agro-industry
        farming"},"code":"2_1_3"}],"credits":[{"credit_type_name":"assessor","full":"Salvador,
        A., Díaz-Paniagua, C., Recuero Gil, E., Martínez-Solano, I., Bosch, J., Arntzen,
        J., García París, M., Lizana, M., Tejedo, M. \u0026 Márquez, R.","value":["Rafael
        Márquez (Fonoteca Zoológica, Dept Biodiversidad y Biologia Evolutiva, Museo
        Nacional de Ciencias Naturales (CSIC), José Gutierrez Abascal 2, 28006 Madrid,
        Spain)","Alfredo Salvador","Jan Willem Arntzen","Miguel Tejedo","Jaime Bosch","Mario
        García París (Museo de Ciencias Natura[...]
[...]
{"scope":"Minority
        (\u003c50%)","timing":"Ongoing","internationalTrade":null,"score":"Unknown","severity":"Unknown","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Unintentional
        effects: (large scale) [harvest]"},"code":"5_3_4"},[...]
