http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/version?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"14-uyTgolGzHBSdJyCMB1FBYA"
    body:
      encoding: UTF-8
      file: no
      string: '{"version":"2022-1"}'
  recorded_at: 2022-08-08 22:59:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/habitats/species/id/18?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"122-JHwals/BRrSLj/3hgcM24A"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"18","result":[{"code":"1.9","habitat":"Forest - Subtropical/Tropical
        Moist Montane","suitability":"Suitable","season":null,"majorimportance":null},{"code":"6","habitat":"Rocky
        areas (eg. inland cliffs, mountain peaks)","suitability":"Suitable","season":null,"majorimportance":null}]}'
  recorded_at: 2022-08-08 22:59:19 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
