http_interactions:
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/information/red_list_version
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IUCN_REDLIST_KEY>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"1694e95e54c5590a355e5922b47c7cd9"
    body:
      encoding: ''
      file: no
      string: '{"red_list_version":"2025-1"}'
  recorded_at: 2025-04-17 22:20:20 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/taxa/sis/178652
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IUCN_REDLIST_KEY>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"bf0c1a8b6abee1a120e091d81fb05c15"
    body:
      encoding: ''
      file: no
      string: '{"sis_id":178652,"taxon":{"sis_id":178652,"scientific_name":"Sphaerodactylus
        dunni","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[],"kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"REPTILIA","order_name":"SQUAMATA","family_name":"SPHAERODACTYLIDAE","genus_name":"Sphaerodactylus","species_name":"dunni","subpopulation_name":null,"infra_name":null,"authority":"Schmidt,
        1936","species":true,"subpopulation":false,"infrarank":false,"ssc_groups":[],"common_names":[{"main":false,"name":"Dunn''s
        Least Gecko","language":"eng"}],"synonyms":[]},"assessments":[{"year_published":"2013","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":178652,"url":"https://www.iucnredlist.org/species/178652/1540869","assessment_id":1540869,"scopes":[{"description":{"en":"Global"},"code":"1"}]},{"year_published":"2010","latest":false,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":178652,"url":"https://www.iucnredlist.org/species/178652/7588871","assessment_id":7588871,"scopes":[{"description":{"en":"Global"},"code":"1"}]}]}'
  recorded_at: 2025-04-17 22:20:20 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
- request:
    method: get
    uri: https://api.iucnredlist.org/api/v4/assessment/1540869
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: <<<IUCN_REDLIST_KEY>>>
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: 'HTTP/2 200 '
      content-type: application/json
      etag: W/"efc0714c44a5da34d1c364ad0496ae05"
    body:
      encoding: ''
      file: no
      string: '{"assessment_date":"2012-05-08T00:00:00.000Z","year_published":"2013","latest":true,"possibly_extinct":false,"possibly_extinct_in_the_wild":false,"sis_taxon_id":178652,"criteria":null,"url":"https://www.iucnredlist.org/species/178652/1540869","citation":"Townsend,
        J.H., Wilson, L.D., Luque, I. \u0026 Mayer, Greg 2013. Sphaerodactylus dunni.
        The IUCN Red List of Threatened Species 2013: e.T178652A1540869. https://dx.doi.org/10.2305/IUCN.UK.2013-2.RLTS.T178652A1540869.en.
        Accessed on 17 April 2025.","assessment_id":1540869,"assessment_points":false,"assessment_ranges":true,"taxon":{"sis_id":178652,"scientific_name":"Sphaerodactylus
        dunni","species_taxa":[],"subpopulation_taxa":[],"infrarank_taxa":[],"kingdom_name":"ANIMALIA","phylum_name":"CHORDATA","class_name":"REPTILIA","order_name":"SQUAMATA","family_name":"SPHAERODACTYLIDAE","genus_name":"Sphaerodactylus","species_name":"dunni","subpopulation_name":null,"infra_name":null,"authority":"Schmidt,
        1936","species":true,"subpopulation":false,"infrarank":false,"ssc_groups":[],"common_names":[{"main":false,"name":"Dunn''s
        Least Gecko","language":"eng"}],"synonyms":[]},"population_trend":{"description":{"en":"Stable"},"code":"2"},"red_list_category":{"version":"3.1","description":{"en":"Least
        Concern"},"code":"LC"},"supplementary_info":{"upper_elevation_limit":700,"lower_elevation_limit":60,"lower_depth_limit":null,"upper_depth_limit":null,"population_size":null,"population_severely_fragmented":"No","population_continuing_decline":null,"generational_length":null,"congregatory":null,"movement_patterns":null,"continuing_decline_in_area":null,"conservation_actions_in_place":[{"name":"In-place
        land/water protection","actions":[{"name":"Occurs in at least one protected
        area","value":"Yes"}]}],"identification_information":null,"extreme_fluctuations":null,"no_of_subpopulations":null,"continuing_decline_in_subpopulations":null,"extreme_fluctuations_in_subpopulations":null,"all_individuals_in_one_subpopulation":null,"no_of_individuals_in_largest_subpopulation":null,"estimated_area_of_occupancy":null,"continuing_decline_in_area_of_occupancy":null,"extreme_fluctuations_in_area_of_occupancy":null,"estimated_extent_of_occurence":"0","continuing_decline_in_extent_of_occurence":null,"extreme_fluctuations_in_extent_of_occurence":null,"continuing_decline_in_number_of_locations":null,"extreme_fluctuations_in_number_of_locations":null},"documentation":{"range":"This
        species is endemic to northern Honduras and occurs at elevations from 60-700
        m (Köhler 2003, Köhler and Ferrari 2011).    \u003cp\u003e\u003cbr/\u003e\u003c/p\u003e  .","population":"This
        species is infrequently encountered, but is reported to have a stable population
        trend in Honduras (Wilson and McCranie 2003).","habitats":"This species occurs
        in lowland wet and dry forest where it inhabits the leaf litter of closed
        canopy forest. It is diurnal. It is not known to occur in secondary forest.","threats":"This
        species may be threatened locally by habitat loss and degradation due to expanding
        human populations and agriculture.","measures":"This species occurs in Pico
        Bonito National Park. Additional protected areas covering lowland rainforest
        in northern Honduras are needed, as well as research on habitat breadth and
        population status.","use_trade":"This species is not utilized.","rationale":"\u003cspan
        style=\"font-style: italic;\"\u003eSphaerodactylus dunni\u003c/span\u003e
        has been assessed as Least Concern because, although the range is restricted,
        there is no evidence of a population decline and habitat loss is not a large
        threat at the moment. Nevertheless, because the species apparently needs intact
        forest, the status of this species should be monitored due to potentially
        increased threat on its habitat in the future.","trend_justification":null,"taxonomic_notes":null},"biogeographical_realms":[{"description":{"en":"Neotropical"},"code":"5"}],"conservation_actions":[],"faos":[],"habitats":[{"majorImportance":null,"season":null,"suitability":"Suitable","description":{"en":"Forest
        - Subtropical/Tropical Dry"},"code":"1_5"},{"majorImportance":null,"season":null,"suitability":"Suitable","description":{"en":"Forest
        - Subtropical/Tropical Moist Lowland"},"code":"1_6"}],"locations":[{"is_endemic":false,"formerlyBred":null,"origin":"Native","presence":"Extant","seasonality":["Resident"],"description":{"en":"Honduras
        (mainland)"},"code":"HON-OO"},{"is_endemic":true,"formerlyBred":null,"origin":"Native","presence":"Extant","seasonality":["Resident"],"description":{"en":"Honduras"},"code":"HN"}],"researches":[],"use_and_trade":[],"threats":[{"scope":"Minority
        (\u003c50%)","timing":"Ongoing","internationalTrade":null,"score":"Low Impact:
        4","severity":"No decline","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Scale
        Unknown/Unrecorded"},"code":"2_1_4"},{"scope":"Minority (\u003c50%)","timing":"Ongoing","internationalTrade":null,"score":"Low
        Impact: 4","severity":"No decline","ancestry":null,"virus":null,"ias":null,"text":null,"description":{"en":"Housing
        \u0026 urban areas"},"code":"1_1"}],"credits":[{"credit_type_name":"assessor","full":"Townsend,
        J.H., Wilson, L.D., Luque, I. \u0026 Mayer, Greg","value":["Gregory Mayer
        (University of Wisconsin at Parkside)","Ileana Luque (University of Florida)","Larry
        Wilson (Centro Zamorano de Biodiversidad (formerly Miami-Dade Community University,
        Florida))","Josiah Townsend (University of Florida)"]},{"credit_type_name":"evaluator","full":"Bowles,
        P.","value":["Philip Bowles (IUCN SSC/CI Biodiversity Assessment Unit)"]},{"credit_type_name":"contributor","full":"De
        Silva, R., Milligan, H.T., Wearn, O.R., Wren, S., Zamin, T., Sears, J., Wilson,
        P., Lewis, S., Lintott, P. \u0026 Powney, G.","value":["Sally Wren (Zoological
        Society of London, UK)","Oliver Wearn (Imperial College/ Institute of Zoology,
        London, UK)","Harriet Milligan (IOZ)","Ranmali De Silva (IOZ)","Sarah Lewis
        (SRLI Reptile Assessment)","Gary Powney (SRLI Reptile Assessment)","Penny
        Wilson (SRLI Reptile Assessment)","Jennifer Sears (SRLI Reptile Assessment)","Paul
        Lintott (SRLI Reptile Assessment)","Tara Zamin (ex ZSL)"]}],"errata":[],"references":[{"citation":"Wilson,
        L.D., Townsend, J.H. and Johnson, J.D. (eds). 2010. \u003ci\u003eConservation
        of Mesoamerican Amphibians and Reptiles\u003c/i\u003e. pp. 816. Eagle Mountain
        Publishing, Eagle Mountain, Utah.","year":"2010","title":"Conservation of
        Mesoamerican Amphibians and Reptiles","author":"Wilson, L.D., Townsend, J.H.
        and Johnson, J.D.","citation_short":""},{"citation":"Köhler, G. 2003. \u003ci\u003eReptiles
        of Central America\u003c/i\u003e. Herpeton, Germany.","year":"2003","title":"Reptiles
        of Central America","author":"Köhler, G.","citation_short":""},{"citation":"Wilson,
        L.D. and McCranie, J.R. 2003. Herpetofaunal indicator species as measures
        of environmental stability in Honduras. \u003ci\u003eCaribbean Journal of
        Science\u003c/i\u003e 39(1): 50-67.","year":"2003","title":"Herpetofaunal
        indicator species as measures of environmental stability in Honduras","author":"Wilson,
        L.D. and McCranie, J.R.","citation_short":null},{"citation":"Mayer, G.C. 2007.
        \u003ci\u003epers. comm. Red List Assessment\u003c/i\u003e.","year":"2007","title":"pers.
        comm. Red List Assessment","author":"Mayer, G.C.","citation_short":null},{"citation":"IUCN.
        2013. IUCN Red List of Threatened Species (ver. 2013.2). Available at: \u003ca
        href=\"http://www.iucnredlist.org\"\u003ehttp://www.iucnredlist.org\u003c/a\u003e.
        (Accessed: 13 November 2013).","year":"2013","title":"IUCN Red List of Threatened
        Species (ver. 2013.2)","author":"IUCN","citation_short":"IUCN 2013.2"}],"growth_forms":[],"lmes":[],"scopes":[{"description":{"en":"Global"},"code":"1"}],"stresses":[{"description":{"en":"Ecosystem
        conversion"},"code":"1_1"},{"description":{"en":"Ecosystem conversion"},"code":"1_1"},{"description":{"en":"Ecosystem
        degradation"},"code":"1_2"},{"description":{"en":"Ecosystem degradation"},"code":"1_2"}],"systems":[{"description":{"en":"Terrestrial"},"code":"0"}]}'
  recorded_at: 2025-04-17 22:20:20 GMT
  recorded_with: vcr/1.6.0, webmockr/1.0.0
[...]
