http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/version?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"14-uyTgolGzHBSdJyCMB1FBYA"
    body:
      encoding: UTF-8
      file: no
      string: '{"version":"2022-1"}'
  recorded_at: 2022-08-08 23:00:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/id/18?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"2dd-aZCM2xyBnEwOXKkqu6WJKg"
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"18","result":[{"taxonid":18,"scientific_name":"Abrocoma boliviensis","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"MAMMALIA","order":"RODENTIA","family":"ABROCOMIDAE","genus":"Abrocoma","main_common_name":"Bolivian
        Chinchilla Rat","authority":"Glanz &amp; Anderson, 1990","published_year":2016,"assessment_date":"2016-03-01","category":"CR","criteria":"B1ab(i,ii,iii)","population_trend":"Decreasing","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Bernal,
        N.","reviewer":"Amori, G.","aoo_km2":null,"eoo_km2":null,"elevation_upper":2270,"elevation_lower":1800,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2022-08-08 23:00:00 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
