http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/version?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"14-uyTgolGzHBSdJyCMB1FBYA"
    body:
      encoding: UTF-8
      file: no
      string: '{"version":"2022-1"}'
  recorded_at: 2022-08-08 23:00:14 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/species/id/178652?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"5db-UkhgBQnXSZJgSuCQai/8Tg"
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"178652","result":[{"taxonid":178652,"scientific_name":"Sphaerodactylus
        dunni","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"REPTILIA","order":"SQUAMATA","family":"SPHAERODACTYLIDAE","genus":"Sphaerodactylus","main_common_name":"Dunn''s
        Least Gecko","authority":"Schmidt, 1936","published_year":2013,"assessment_date":"2012-05-08","category":"LC","criteria":null,"population_trend":"Stable","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Townsend,
        J.H., Wilson, L.D., Luque, I. & Mayer, Greg","reviewer":"Bowles, P.","aoo_km2":null,"eoo_km2":"0","elevation_upper":700,"elevation_lower":60,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null},{"taxonid":178652,"scientific_name":"Sphaerodactylus
        dunni","kingdom":"ANIMALIA","phylum":"CHORDATA","class":"REPTILIA","order":"SQUAMATA","family":"SPHAERODACTYLIDAE","genus":"Sphaerodactylus","main_common_name":"Dunn''s
        Least Gecko","authority":"Schmidt, 1936","published_year":2013,"assessment_date":"2012-05-08","category":"LC","criteria":null,"population_trend":"Stable","marine_system":false,"freshwater_system":false,"terrestrial_system":true,"assessor":"Townsend,
        J.H., Wilson, L.D., Luque, I. & Mayer, Greg","reviewer":"Bowles, P.","aoo_km2":null,"eoo_km2":"18,598","elevation_upper":700,"elevation_lower":60,"depth_upper":null,"depth_lower":null,"errata_flag":null,"errata_reason":null,"amended_flag":null,"amended_reason":null}]}'
  recorded_at: 2022-08-08 23:00:14 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
