http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/version?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"14-uyTgolGzHBSdJyCMB1FBYA"
    body:
      encoding: UTF-8
      file: no
      string: '{"version":"2022-1"}'
  recorded_at: 2022-08-08 23:00:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/threats/species/id/178652?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"201-K9BCjEu7iRNASAeH4q5byg"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"178652","result":[{"code":"1.1","title":"Housing & urban areas","timing":"Ongoing","scope":"Minority
        (<50%)","severity":"No decline","score":"Low Impact: 4","invasive":null},{"code":"2.1","title":"Annual
        & perennial non-timber crops","timing":"Ongoing","scope":"Minority (<50%)","severity":"No
        decline","score":"Low Impact: 4","invasive":null},{"code":"2.1.4","title":"Scale
        Unknown/Unrecorded","timing":"Ongoing","scope":"Minority (<50%)","severity":"No
        decline","score":"Low Impact: 4","invasive":null}]}'
  recorded_at: 2022-08-08 23:00:45 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
[...]
