http_interactions:
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/version?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"14-uyTgolGzHBSdJyCMB1FBYA"
    body:
      encoding: UTF-8
      file: no
      string: '{"version":"2022-1"}'
  recorded_at: 2022-08-08 23:00:35 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
- request:
    method: get
    uri: https://apiv3.iucnredlist.org/api/v3/threats/species/id/18?token=<<<IUCN_REDLIST_KEY>>>
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: application/json; charset=utf-8
      etag: W/"360-0bs5tuFkyL0WyCEQ2zztuQ"
    body:
      encoding: UTF-8
      file: no
      string: '{"id":"18","result":[{"code":"1.1","title":"Housing & urban areas","timing":"Ongoing","scope":null,"severity":null,"score":"Low
        Impact: 3","invasive":null},{"code":"2.3","title":"Livestock farming & ranching","timing":"Ongoing","scope":null,"severity":null,"score":"Low
        Impact: 3","invasive":null},{"code":"2.3.2","title":"Small-holder grazing,
        ranching or farming","timing":"Ongoing","scope":null,"severity":null,"score":"Low
        Impact: 3","invasive":null},{"code":"4.1","title":"Roads & railroads","timing":"Ongoing","scope":null,"severity":null,"score":"Low
        Impact: 3","invasive":null},{"code":"7.1","title":"Fire & fire suppression","timing":"Ongoing","scope":null,"severity":null,"score":"Low
        Impact: 3","invasive":null},{"code":"7.1.3","title":"Trend Unknown/Unrecorded","timing":"Ongoing","scope":null,"severity":null,"score":"Low
        Impact: 3","invasive":null}]}'
  recorded_at: 2022-08-08 23:00:35 GMT
  recorded_with: vcr/1.0.2, webmockr/0.8.0
